{% extends 'base.html' %}

 {% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" style="margin-top: 0%; margin-bottom: 4%;">
        <div class="col">
            <div class="card" style="background-color:#323351; padding: 10%; padding-bottom: 25%; margin-left: 3%; margin-right: 3%; border-radius: 36%;">
            <img src="/static/nicole.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: #FFFFFF">Nicole</h5>

                <p class="card-text" style="color: #FFFFFF">Hi, it's nice to meet you!
                    Here are some facts about myself</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color:#BCC58E; padding: 10%; padding-bottom: 25%; margin-left: 3%; margin-right: 3%; border-radius: 36%;">
            <img src="/static/jovia.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="color: #FFFFFF">Jovia</h5>
                <p class="card-text" style="color: #FFFFFF">Hi, it's nice to meet you!
                    Here are some facts about myself</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color:#FFC9C9; padding: 10%; padding-bottom: 25%; margin-left: 3%; margin-right: 3%; border-radius: 36%;">
                <img src="/static/renata.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: #FFFFFF">Renata</h5>
                    <p class="card-text" style="color: #FFFFFF">Hi, it's nice to meet you!
                        Here are some facts about myself</p>
                </div>
            </div>
        </div>
     </div>
 {% endblock %}