{% extends 'base.html' %}

 {% block content %}
   <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" style="margin-top: 0%; margin-bottom: 2%; background-color: #890d23; border-radius: 3%;">
        <div class="col">
            <div class="card" style="margin: 0%; border: 0cap; align-items: center; background-color: #890d23;">
            <div class="card-body" style="margin: 0%; border: 0cap; padding-top: 30%;">
                <a class="nav-link" href="https://open.spotify.com/show/0PZoRg74TnsIQQWyEk2xrL?si=44ce38e4363c43d9" style="color: #FFFFFF; background-color: #890d23; font-family: cursive; margin: 0%; border: 0cap; text-decoration: underline; font-size: 300%;">Spotify</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin: 0%; border: 0cap; padding: 0%; background-color: #890d23;">
            <img src="/static/microphone.png" style="background-color: #890d23; margin: 0%; border: 0ch; width: 60%; align-self: center; padding-bottom: 10%;" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin: 0%; border: 0cap; align-items: center; background-color: #890d23;">
            <div class="card-body" style="margin: 0%; border: 0cap; padding-top: 30%;">
               <a class="nav-link" href="https://www.youtube.com/@CanIComeOverPodcast" style="color: #FFFFFF; background-color: #890d23; font-family: cursive; margin: 0%; border: 0cap; text-decoration: underline; font-size: 300%;">Youtube</a>
            </div>
            </div>
        </div>
     </div>
    <div class="head" style="text-align-last: center;">
        <a style="color: #890d23; margin: 0%; border: 0cap; font-weight: 500; font-size: xxx-large;">Our Latest Episodes</a>
    </div>
    <div class="row row-cols-2 row-cols-md-2 g-2 mt-1" style="border-radius: 3%;">
        <div class="card" style="border: #890d23; border-radius: 3%; width: 43%; margin: 3%; align-items: center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/j55SbOrn3zo?si=1DP5E8pxQp0qTRie" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="card" style="border: #890d23; border-radius: 3%; width: 43%; margin: 3%; align-items: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/V_g_Tv2cHIU?si=tZj96AnKpyPloQgg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
         <div class="card" style="border: #890d23; border-radius: 3%; width: 43%; margin: 3%; align-items: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BMpJ5zEs82E?si=pYAqlLMJeqDTtTNr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
         </div>
         <div class="card" style="border: #890d23; border-radius: 3%; width: 43%; margin: 3%; align-items: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9VdWoc5HnNk?si=dczm-lZQ-Umylfs2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
         </div>
     </div>
 {% endblock %}