{% extends 'base.html' %}

 {% block content %}
 <div class="container-fluid">
    <div class="alert alert-light" role="alert" style="background-color: rgb(239, 138, 164); text-decoration-color:#FFFFFF; margin-top: 0.2%; margin-bottom: 0%;" data-bs-theme="light"> 
        <a href="#" class="alert-link">create an account now</a>. and gain access to exclusive content!
    </div>
    <div>
        <img src="/static/CICO_Banner.png" class="img-fluid" width="100%" alt="..." style="align-items: center;">
    </div>
</div>
 {% endblock %}